body{
    font-size: 2em;
    font-family: verdana;
}

.btn {
    font-size: 1.5em;
    font-family: verdana;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}